In [ ]:
if True:
    print('True')
else:
    print('False')

In [3]:
a = 1 / 3

round(a, 1)

0.3

## Map 
Aplly operation to each element

In [ ]:
my_list = [1, 2, 3, 4, 5]


def mult_by_2(x):
    return x * 2


new_list = map(mult_by_2, my_list)
print(list(new_list))

[2, 4, 6, 8, 10]

In [ ]:
name, surname = input('Your name and surname:').split()
print(f'Your name is {name} and your surname is {surname}')

Your name is red and your surname is rock

In [9]:
code, pin = map(int, input('Your code and pin:').split())
print(f'Your code is {code} and your pin is {pin}')

Your code is 33 and your pin is 22

### lambda function

In [13]:
my_list = [1, 2, 3, 4, 5]


new_list = map(lambda x: x * 2, my_list)
print(list(new_list))

[2, 4, 6, 8, 10]

### ternary operator

In [21]:
a = 5

b = 10 if a != 10 else 5
print(b)

10

## Filter

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


def is_even(x):
    return x % 2 == 0


new_list = filter(is_even, my_list)
print(list(new_list))

[2, 4, 6, 8, 10]

In [23]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_list = filter(lambda x: x % 2 == 0, my_list)

print(list(new_list))

[2, 4, 6, 8, 10]

## Datetime

In [37]:
import datetime

time = datetime.datetime.now()
print(time.hour)
print(time.now())
print(time.ctime())
print(time.month)
print(time.second)
print(time.timestamp())

12
2025-02-28 12:28:07.933535
Fri Feb 28 12:28:07 2025
2
7
1740770887.933425

In [38]:
easy_date = datetime.datetime(1995, 12, 26)

print(easy_date.timestamp())

819961200.0

In [43]:
my_time = '2023/06/05 12 hours, 30 mins, 10 secs'
python_date = datetime.datetime.strptime(
    my_time, '%Y/%m/%d %H hours, %M mins, %S secs')
print(python_date)

2023-06-05 12:30:10

In [48]:
human_date = python_date.strftime('%Y.%m.%d  %H hours, %M minutes, %S seconds')
print(human_date)

2023.06.05  12 hours, 30 minutes, 10 seconds